<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <bean name="AwareBean1" class="com.imooc.aware.AwareBean1"></bean>
    <bean name="AwareBean2" class="com.imooc.aware.AwareBean2"></bean>
    <bean name="AwareBean3" class="com.imooc.aware.AwareBean3"></bean>
</beans>