<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 切面类 -->
    <bean id="myAspect" class="com.imooc.aop.aspect.introductions.MyAspect"/>

    <!-- 业务类 -->
    <bean id="aspectBiz" class="com.imooc.aop.aspect.introductions.AspectBiz"/>

    <aop:config>

        <aop:aspect id="goodAspecct" ref="myAspect">
            <aop:declare-parents types-matching="com.imooc.aop.aspect.introductions.AspectBiz"
                                 implement-interface="com.imooc.aop.aspect.introductions.Fit"
                                 default-impl="com.imooc.aop.aspect.introductions.FitImpl"/>
        </aop:aspect>

    </aop:config>
</beans>